@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:hover .dropdown-menu {
    display: block;
}

.hide {
    display: none;
}

.bg-black-alt  {
    background:#191919;
}

.text-black-alt  {
    color:#191919;
}

.border-black-alt {
    border-color: #191919;
}
